.warp{
    position: sticky;
    top: 0;
    right: -1px;
    width: 120px;
    height: 100%;
    text-align: center;
}
.enlarge{
    display: block;
    margin: 15px auto;
    width: 32px;
    height: auto;
    cursor: pointer;
}
.enlarge:hover{
    background-color: #e2e2e2;
}